<!DOCTYPE html>
<html>

<head>
  <title border="1">
    <%= hostname %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <table>
    <tr>
      <th>Hostname</th>
      <th>Ipv4</th>
    </tr>
    <tr>
      <td>
        <%=hostname %>
      </td>
      <td>
        <%= ip %>
      </td>
    </tr>
  </table>
</body>

</html>